:root {
  --text-section-color: #434455;
  --button-color: #4d5ae5;
  --logo-color: #2e2f42;
  --safari-color: #f4f4fd;
  --main-title-color: #ffffff;
  --pressed-state: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--main-title-color);
  color: var(--text-section-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin-top: 0%;
  margin-bottom: 0;
  padding-left: 0%;
}

.container {
  max-width: 426px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  /* margin: 0 auto;
  align-items: center; */
  /* outline: 1px solid red; */
}

/*----------BODY----------*/

.body {
  color: #434455;
  background-color: #ffffff;
}

/*----------HEADER-----------*/

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  /* padding: 24px 0; */
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-name {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-color);
  display: flex;
  align-items: center;
  margin-right: 76px;
  /* margin-right: auto; */
}

.header-name span {
  font-family: "Raleway", sans-serif;
  color: var(--logo-color);
}

.header-page {
  /* display: flex; */
  display: none;
  gap: 40px;
  /* justify-content: space-between; */
}

.header-menu {
  /* display: flex; */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--logo-color);
  padding: 24px 0;
  position: relative;
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* .active {
  position: relative;
  display: inline-block;
  color: var(--pressed-state);
}

.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0px;
  background: var(--pressed-state);
  border-radius: 2px;
  bottom: -1px;
} */

.header-menu:hover,
.header-menu:focus {
  color: var(--pressed-state);
}

.header-adress {
  font-style: normal;
  margin-left: auto;
}

.header-link {
  /* display: flex; */
  display: none;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-soc {
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-soc:hover,
.header-link-soc:focus {
  color: var(--pressed-state);
}

.icon-mob {
  stroke: var(--logo-color);
}

.open-menu-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.mob-menu {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 24px 24px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: auto;
}

.mob-menu-list {
  padding-top: 56px;
  margin-bottom: auto;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-menu-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.072px;
  text-transform: capitalize;
  color: var(--logo-color);
}

.mob-menu-link.current {
  color: var(--pressed-state);
}

.mob-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 32px;
}

.mob-list {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 48px;
}

.mob-item:not(:first-child) {
  margin-bottom: 40px;
}

.phone-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--button-color);
}

.mail-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--text-section-color);
}

.mob-social-list {
  display: flex;
  /* justify-content: space-between; */
  /* justify-content: center; */
  gap: 56px;
  padding-right: 36px;
}

.mob-social-icon {
  width: 40px;
  height: 40px;
}

.mob-icon-item {
  fill: var(--safari-color);
}

.mob-soc-network {
  max-width: 100%;
  width: 100%;
  height: 100%;
  background-color: var(--button-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-soc-network:hover,
.mob-soc-network:focus {
  background-color: var(--pressed-state);
}

/*----------HERO-----------*/

.hero {
  /* padding-top: 188px;
  padding-bottom: 188px; */
  padding: 112px 0;
  background: var(--logo-color);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* max-width: 1440px; */
  min-width: 428px;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }
}

.hero-name {
  font-family: "Roboto";
  font-style: normal;
  text-align: center;
  font-weight: 700;
  /* font-size: 56px; */
  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 48px; */
  margin-bottom: 72px;
  /* max-width: 496px; */
  max-width: 320px;
  max-height: 120px;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-title-color);
  background-color: var(--button-color);
  cursor: pointer;
  display: block;
  min-width: 169px;
  min-height: 56px;
  text-align: center;
  align-items: center;
  border: none;
  background-color: var(--button-color);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*----------SECTION1-----------*/

.scroll {
  padding: 96px 0;
}

/* .scroll-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  width: calc((100% - 72) / 4);
} */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.scroll-item {
  /* width: calc((100% - 72px) / 4); */
  width: 100%;
}

.scroll-icon-fond {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--safari-color);
  /* padding: 24px 100px; */
  border-radius: 4px;
  margin-bottom: 8px;
  display: none;
}

.scroll-icon-item {
  fill: #4d5ae5;
}

.scroll-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
}

.scroll-name {
  /* font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em; */
  line-height: 1.11;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--logo-color);
  margin-bottom: 8px;
  text-align: center;
}

.scroll-text {
  /* font-weight: 400; */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-section-color);
  text-align: left;
}

/*----------WORK-----------*/

.work-are {
  padding-bottom: 120px;
  display: none;
}

.work-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--logo-color);
  margin-bottom: 72px;
}

.work-list {
  /* padding-top: 20px;
  padding-bottom: 120px; */
  display: flex;
  gap: 24px;
}

.work-item {
  width: calc((100% - 48px) / 3);
}

/*----------MADE-----------*/

.made {
  background-color: var(--safari-color);
  /* height: 732px;
  padding-top: 120px;
  padding-bottom: 120px; */
  padding: 96px 0;
}

.team-container {
  background-color: var(--safari-color);
}

.made-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--logo-color);
  /* padding-top: 120px; */
  margin-bottom: 72px;
}

.made-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 72px;
  margin: 0 auto;
}

.made-item {
  background-color: #ffffff;
  width: 100%;
  max-width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.made-item img {
  margin: 0 auto;
}

.made-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--logo-color);
  text-align: center;
  /* padding-top: 32px; */
  margin-bottom: 8px;
}

.made-card {
  padding: 32px 0px;
  text-align: center;
  /* flex-wrap: wrap; */
}

.made-activity {
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.made-soc-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  /* padding: 32px 0; */
}

.made-soc-item {
  background-color: var(--button-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.made-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--button-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.made-soc-icon {
  fill: var(--safari-color);
}

.made-soc-link:hover,
.made-soc-link:focus {
  background-color: var(--pressed-state);
}

/* ------------------CUSTOMERS--------------------- */
.customers {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding: 96px 0;
}

/* .customers-container {
  padding-top: 120px;
  padding-bottom: 120px;
} */

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--logo-color);
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* gap: 24px; */
  gap: 24px;
  column-gap: 16px;
  row-gap: 72px;
}

.customers-item {
  /* width: calc((100% - 120px) / 6); */
  height: 88px;
  width: 100%;
  width: calc((100% - 16px) / 2);
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
  fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--pressed-state);
  color: var(--pressed-state);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.customers-item:hover .customers-link,
.customers-item:focus .customers-link {
  border: 1px solid var(--pressed-state);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*----------FOOTER-----------*/

.footer {
  background-color: var(--logo-color);
  padding: 97.5px 0;
  /* padding-top: 100px;
  padding-bottom: 100px; */
}

.all-footer {
  display: flex;
  flex-direction: column;
  gap: 72px;
  /* align-items: baseline; */
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 268px;
  margin-bottom: 72px;
  margin: 0 auto;
  /* margin-right: 120px; */
}

.footer-name {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-color);
  display: inline-block;
  /* margin-bottom: 16px; */
  margin-bottom: 17.5px;
}

.name {
  font-family: "Raleway", sans-serif;
  color: var(--safari-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--safari-color);
  /* width: 264px; */
  /* margin-left: 0; */
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.footer-soc-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-icon {
  fill: #f4f4fd;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
  border-radius: 50%;
}

.footer-soc-link {
  background-color: var(--button-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin-bottom: 16px;
  align-items: center;
  justify-content: center;
}

.subscribe-form {
  display: flex;
  /* gap: 24px; */
  gap: 16px;
  /* align-items: flex-end; */
  flex-wrap: wrap;
}

.subscribe-label {
  display: block;
  width: 100%;
}

.input-subscribe {
  font-size: 12px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  background-color: transparent;
  color: var(--main-title-color);
  border: 1px solid var(--main-title-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  /* min-width: 264px; */
  width: 100%;
  height: 40px;
  /* padding: 8px 16px; */
  padding-left: 16px;
  /* opacity: 0.30000001192092896; */
}

.input-subscribe::placeholder {
  color: var(--main-title-color);
}
.input-subscribe:focus,
.input-subscribe:active {
  border: 1px solid var(--button-color);
}

.subscribe-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-self: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.04em;
  color: var(--main-title-color);
  background: var(--button-color);
  border-radius: 4px;
  border: none;
  padding: 8px 24px;
  /* min-width: 165px; */
  width: 165px;
  height: 40px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--pressed-state);
}

.subscribe-icon {
  width: 24px;
  height: 24px;
  background: var(--button-color);
  fill: var(--main-title-color);
  margin-left: 16px;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover .icon-btn {
  background-color: var(--pressed-state);
}

.subscribe-btn:focus .icon-btn {
  background-color: var(--pressed-state);
}
/*===============PORTFOLIO===============*/
/*---------------HEADER---------------*/

/*-----------------MAIN-----------------*/

.name-logo {
  color: #2e2f42;
}

.buttons {
  margin-top: 100px;
}

.button-soc {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--button-color);
  background-color: var(--safari-color);
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  display: block;
  padding: 12px 24px 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-soc:hover,
.button-soc:focus {
  color: #ffffff;
  background-color: var(--pressed-state);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  gap: 24px;
}

/* .buttons-list {
} */

/*-----------------SECTION-----------------*/

.portfolio-container {
  padding-bottom: 120px;
}

.section {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section:hover,
.section:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section:hover .section-text {
  transform: translateY(0%);
}

.section:focus .section-text {
  transform: translateY(0%);
}

.section-img {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
  gap: 24px;
  row-gap: 48px;
  width: calc((100%-48px) / 3);
}

.section-card {
  /* padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px; */
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

/* .section-work {
  /* width: calc((100%-48px) / 3); */
/* background-color: #ffffff;
  overflow: hidden; */
/* } */

.section-work:hover .section-cover-text {
  transform: translateY(0%);
}

.section-work:focus .section-cover-text {
  transform: translateY(0%);
}

.section:focus .section-cover-text {
  transform: translateY(0%);
}

.section-activity {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--logo-color);
  margin-bottom: 8px;
}

.section-text {
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-section-color);
}

.section-cover-block {
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.section-cover-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--safari-color);
  padding: 40px 32px;
  height: 100%;
  position: absolute;
  background: var(--button-color);
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* =========================MODAL=====================  */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
}

.modal-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: #e7e9fc;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--pressed-state);
  border: none;
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .modal-icon,
.modal-button:focus .modal-icon {
  fill: #ffffff;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  width: 360px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--logo-color);
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  /* border: 1px solid #4d5ae5; */
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  padding-right: 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--button-color);
}

.modal-input:focus + .input-icon {
  fill: var(--button-color);
}

/* .modal-input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
} */

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
}

.input-icon {
  fill: var(--logo-color);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-textarea {
  margin-bottom: 16px;
}

.modal-textarea:focus {
  border-color: var(--button-color);
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-checkbox {
  margin-bottom: 24px;
  outline: transparent;
}

.modal-checkbox:focus {
  outline: 1px solid var(--button-color);
}

.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-left: 8px;
  align-items: center;
  border-radius: 4px;
  border: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-text span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  display: inline-flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-text a {
  line-height: 1.33;
  text-decoration-line: underline;
  color: var(--button-color);
  padding-left: 4px;
}

.input-check:checked + .check-text span {
  background-color: var(--pressed-state);
  border-color: var(--pressed-state);
  fill: #f4f4fd;
  border: none;
}

.input-check:focus + .check-text {
  border: 1px solid var(--pressed-state);
}

.modal-send-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--button-color);
  color: var(--main-title-color);
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 24px auto;
  cursor: pointer;
  border: none;
}

.modal-send-btn:hover,
.modal-send-btn:focus {
  background-color: var(--pressed-state);
}

/* ----------------------------Media--------------------------- */

@media screen and (max-width: 427px) {
  .container {
    max-width: 428px;
  }
}

@media screen and (min-width: 768px) {
  /*----------@media-SECTION1-----------*/
  .container {
    max-width: 768px;
  }

  /* .open-menu-btn {
    display: none;
  }

  .mob-menu.is-hidden {
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .header {
    padding: 11px 0;
  }

  .header-menu {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    color: var(--logo-color);
  }
}

.header-link {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.active {
  color: var(--pressed-state);
}

.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0px;
  bottom: -2px;
  background-color: var(--pressed-state);
  border-radius: 2px;
  display: block;
}

.header-link-soc {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.48px;
} */

.scroll-list {
  column-gap: 24px;
  row-gap: 64px;
}

.scroll-item {
  max-width: unset;
  width: calc((100% - 24px) / 2);
}

.scroll-name {
  text-align: left;
}

/*----------@media-MADE-----------*/
.made-list {
  column-gap: 24px;
  row-gap: 64px;
}
.made-item {
  width: calc((100% - 24px) / 2);
}

@media screen and (min-width: 1158px) {
  /*----------@media-SECTION1-----------*/
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .scroll-list {
    flex-wrap: nowrap;
    /* display: flex;
    flex-wrap: wrap; */
    gap: 72px;
    width: 100%;
  }

  .scroll-item {
    max-width: unset;
    width: calc((100% - 72px) / 4);
  }

  .scroll-icon-fond {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--safari-color);
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .scroll-icon-item {
    display: block;
    fill: #4d5ae5;
  }

  /*----------@media-WORK-----------*/
  .work-are {
    display: block;
  }

  /*----------@media-MADE-----------*/
  .made-list {
    gap: 24px;
  }
  .made-item {
    width: calc((100% - 72px) / 4);
  }
}
